*{
   margin: none;
   padding: none;
   font-family: sans-serif;
}
.container{
   background:lightcyan;
   width: 100%;
   margin:0px;
   height: 109vh;
   align-items: center;
   justify-content: center;
   padding: 50px;
}
.chat-home{
   background:white;
   width:450px;
   height:580px;
   box-shadow: 0px 0px 2px 2px rgba(0, 0, 0,.5);
}
.chat-home .chat-head{
   display: flex;
   flex-direction: row;
   padding:3px;
   height: 70px;
   border-bottom:1px solid rgba(0, 0, 0,.1);
}
.chat-home .chat-head i{
   font-size:20px;
   text-align: center;
   margin:0px 20px;
   margin-top:25px;

}
.chat-home .chat-head img{
   width:70px;
   height:70px;
   border-radius: 50%;
   object-fit: cover;
}
.chat-home .chat-head .name-details{
   display: flex;
   margin-left:20px;
   flex-direction: column;
   align-items:left;
}
.chat-home .chat-head .name-details p{
   font-size: 23px;
   font-family: serif;
   margin-top:10px;
}
.chat-home .chat-head .name-details span{
   margin-top: -15px;
   font-size: 17px;
}

.chat-home .chat-box{
   padding:10px;
   height:450px;
   overflow-y: scroll;
   background: url("../uploads/chat.jpg");
   background-size: cover;
   background-position: center;
   display: flex;
   flex-direction: column;
}
.chat-home .chat-box::-webkit-scrollbar{
   width:3px;
   color:orange;
}
.chat-home .chat-box .sender-msg{
   background:white;
   color:black;
   margin-left:200px;
   max-width: 250px;
   height: fit-content;
   float:right;
   padding: 5px;
   border-bottom-right-radius:10px;
   border-top-left-radius:10px;
   margin-bottom: 10px;
   box-shadow: 0px 0px 1px 1px rgba(0, 0, 0,.1);
}
.chat-home .chat-box .receiver-msg{
   background:rgba(0,0,0,0.6);
   color:white;
   max-width:250px;
   box-shadow: 0px 0px 1px 1px rgba(0, 0, 0,.1);
   height: fit-content;
   border-top-left-radius:10px;
   border-bottom-right-radius:10px;
   padding:5px;
   margin-bottom: 10px;
}
.chat-home .message-box{
   display:flex;
   flex-direction: row;
}
.chat-home .message-box input{
   height: 20px;
   padding:5px;
   font-size:18px;
   width:88%;
}
.chat-home .message-box button{
   width:fit-content;
   height:33px;
   padding:0px 8px;
   font-size: 20px;
}
