*{
   margin: none;
   padding: none;
   text-decoration: none;
   font-family: sans-serif;
}
.container{
   background:lightcyan;
   width: 100%;
   margin:0px;
   height: 109vh;
   align-items: center;
   justify-content: center;
   padding: 50px;
}

.chat-home{
  background:white;
  width:450px;
  height: 560px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0,.5);
}
.chat-home .chat-head{
   display: flex;
   flex-direction: row;
   padding:10px;
   border-bottom:1px solid rgba(0, 0, 0,.1);
}
.chat-home .chat-head img{
   width:70px;
   height:70px;
   border-radius: 50%;
   object-fit: cover;
}
.chat-home .chat-head .name-details{
   display: flex;
   margin-left:20px;
   flex-direction: column;
   align-items:left;
}
.chat-home .chat-head .name-details p{
   font-size: 23px;
   font-family: serif;
   margin-top:0px;
}
.chat-home .chat-head .name-details span{
   margin-top: -15px;
}
.chat-home .chat-head button{
  float: right;
  margin-left: 50px;
  width:fit-content;
  padding:5px;
  border:1px solid rgba(0, 0, 0,.1);
  outline: none;
  margin-top:15px;
}
.chat-home .search-user{
   margin:5px opx;
   padding:3px;
   border-bottom: 1px solid rgba(0, 0, 0,.2);
}
.chat-home .search-user input{
   width:90%;
   height: 15px;
   padding:10px;
   border: none;
   outline: none;
}
::placeholder{
   color:rgb(0, 0, 0,0.3);
   font-size: 16px;
}
.chat-home .search-user button{
  border: none;
  outline: none;
  font-size: 20px;
  color:rgb(0, 0, 0,0.6);
  background: none;
}
.chat-home .chat-users{
  padding:10px 5px;
  overflow-y: scroll;
}
.chat-home .chat-users::-webkit-scrollbar{
   width:1px;
   color:green;
}
.chat-users a{
   display: flex;
   flex-direction: row;
   margin-bottom:5px;
   background:#f9f9f9;
   color:black;
   padding:5px;
   align-items: center;
   justify-content: center;
   justify-items: center;
   height:55px;
   justify-content:space-around;
}
.chat-users a img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.chat-users a .details{
   height:30px;
   display: flex;
   flex-direction: column;
   margin-left: -20px;
}
.chat-users a .details p{
  margin-top: -10px;
}
.chat-users a .details span{
  margin-top: -10px;
  font-size: 12px;
}
.chat-users a .status{
   display: flex;
   flex-direction: column;
   padding:5px;
   height: 40px;
   margin-top: -60px;
   float: left;
}
.chat-users a i{
   margin-top: -15px;
   color:rgba(0,0,0,0.5);
   margin-left:20px;
}